<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Mode" value ="Daily"/>
    <!-- <add key ="Mode" value ="Interval"/>-->
    <add key ="IntervalMinutes" value ="1"/>
    <add key ="ScheduledTime" value ="22.04"/>
    <add key="Path" value="C:\Users\alitu\source\repos\WindowsServiceDemo\ServiceLog.txt"/>
  </appSettings>
</configuration>